<div class="loginPage">
    <div class="loginContainer">
        <div class="logoContainer">
            <img class="logo-white-full-l" src="../../assets/img/logo-white-full-large.png">
        </div>
        <p class="p-light-center">Enter your email and password to enjoy the movie world!s</p>
        <div class="loginInfoContainer">
            <div class="emailPassword">
                <input type="text" name="email" id="email" class="emailInput" placeholder="email">
                <input type="text" name="password" id="password" class="passwordInput" placeholder="password">
            </div>
            <button class="submitBtn">LOGIN</button>
        </div>
        <p class="p-light-center">Don't have an account? click <a href="/" class="clickHere">HERE</a></p>
    </div>
    <div class="background"></div>
</div>
