.header {
    background-color: rgb(26,29,41);
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    max-width: 150px;
}

.logInBtn {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
}

.myAccount {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
}