.header {
    background-color: rgb(26,29,41);
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    max-width: 150px;
    cursor: pointer;
}

.logInBtn {
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
}

.loggedInBox a {
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#logOut {
    margin-left: 15px;
}