.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.homeMain {
    width: 100%;
}

.heroContainer {
    height: 50vh;
    min-height: 400px;
    max-height: 800px;
    margin-bottom: calc(var(--body-padding) * 1.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

.heroInfo {
    max-width: 550px;
    margin: 2em var(--body-padding) 0;
    font-size: 120%;
    text-align: center;
    z-index: 1;
}

.heroImage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .7;
    z-index: 0;
}

.heroImage:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.2) 100%),repeating-linear-gradient(to right,rgba(0,0,0,0.1),rgba(0,0,0,0.1) 2px,rgba(0,0,0,0) 2px,rgba(0,0,0,0) 4px);
}

.heroImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.cardHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.movieCards {
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.listContainer {
    margin: 2rem;
    margin-bottom: 3rem;
}

.posterHolder {
    width: 100%;
}

.moviePoster {
    width: 100%;
}

.textBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
}

.title {
    width: 70%;
    margin: 0;
}

.releaseDate {
    width: 15%;
    margin: 0;
    color: rgba(75,75,100);
}
