/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Avenir', "Century Gothic", sans-serif; 
    color:white;
}

body {
    margin: 0;
    background-color: rgb(26,29,41);

}