<app-header class="header"></app-header>
<div class="homeMain">
    <div class="heroContainer">
        <div class="heroInfo">
                <h1> Welcome to Disney Minus!</h1>
                <p>This web application is the mocking version of Disney+</p>
        </div>
        <div class="heroImage">
            <picture>
                <img src="https://nestflix.fun/img/_header/header-bg-1280w.avif">
            </picture>
        </div>
    </div>
    <div class="homeContents">
        <div class="listContainer">
            <h2>Popular Movies</h2>
            <div class="cardHolder">
                <div class="movieCards"
                (onclick)="openModal()"
                *ngFor="let movie of popularList"
                >
                    <div class="posterHolder">
                        <img class="moviePoster" src={{movie.posterUrl}}/>
                    </div>
                    <div class="textBox">
                        <!-- TODO: ellipsis for movie title -->
                        <p class="title">{{movie.movieTitle}}</p>
                        <p class="releaseDate">{{movie.language}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="listContainer">
            <h2>Top Rated</h2>
            <div class="cardHolder">
                <div class="movieCards"
                (onclick)="openModal()"
                *ngFor="let movie of topRatedList"
                >
                    <div class="posterHolder">
                        <img class="moviePoster" src={{movie.posterUrl}}/>
                    </div>
                    <div class="textBox">
                        <!-- TODO: ellipsis for movie title -->
                        <p class="title">{{movie.movieTitle}}</p>
                        <p class="releaseDate">{{movie.language}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>