<div class="singleModal">
    <p class="title">{{data.movieTitle}}</p>
    <div class="videoContainer">
        <iframe
        class="video"
        [src]= "videoUrl | safeUrl"
        frameborder="0" allowfullscreen
        allow="autoplay"
        >
        </iframe>
    </div>
    <div>
        <div class="datePopularity">
            <p><span class="gray">Released: </span> {{data.release_date}}</p>
            <p><span class="gray">User Score: </span> {{data.voteScore*10}}/100</p>
        </div>
        <p class="gray genre"> Genres: <span *ngFor="let gen of data.genreID">{{gen}}  </span></p>
        <div>
            <p (click)="showCasting()" [hidden]="isCastBtnShow" class="gray"><span *ngFor="let actor of castingList" class="gray"><span class="actorName">{{actor.name}}</span> / {{actor.character}} </span> ...see more</p>
            <p (click)="showCasting()" [hidden]="isCastingShow"><span *ngFor="let actor of castingListDetailed" class="gray"><span class="actorName">{{actor.name}}</span> / {{actor.character}} </span></p>
        </div>

        <p class="description">{{data.description}}</p>
    </div>
</div>


<!-- 
id: movie.id,
movieTitle: movie.title,
release_date: movie.release_date,
posterUrl: 'https://image.tmdb.org/t/p/original' + movie.poster_path,
language: movie.original_language,
popularity: movie.popularity,
video: movie.video,
genre: movie.genres,
description: movie.overview,
-->